.formtable {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.form {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form div {
  padding: 2px;
  display: flex;

  align-items: center;
}
.form label {
  margin: 2px;
  padding: 3px;
}
.form input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#button button {
  padding: 8px;
  margin: 5px;
  border: none;
  background-color: #ccc;
  border-radius: 5px;
}
input + label {
  margin: 5px;
}
.select {
  margin: 5px;
}
.select select {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
